html,
body {
	height: 100%;
}

#wrapper,
#page-content-wrapper {
	height: 100%;
}

#page-content-wrapper {
	padding: 0;
}

@media screen and (max-width: $screen-xs-max){
	#page-content-wrapper,
	#sidebar-wrapper {
		height: calc(100% - #{$navbar-height});
	}
}

#map {
	height: 100%;
}

// Overwriting Google Maps' default style
.gm-style .img-responsive {
	max-width: 100%;
}